/* header */

body
{
    margin: 0%;
}

.nav-container
{
display: flex;
flex-direction: row;
background-color: black;
opacity: 0.9;

}

.nav-container img
{
width: 10%;
height: 20%;
}

header
{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a
{
    color: #1c9cd8;
    padding: 30px;
    text-decoration: none;

}

a:hover
{
    color: brown;
}

.noir
{
    padding: 27px;
    margin-bottom: 100px;
}

/* footer */

.footer
{
    text-align: center;

}

/* section section */

.tik-container
{
    display: flex;
    flex-direction: row;
}

.tik-container img
{
width: 120%;
height: 120%;
}

.tik
{
    padding: 170px;
}


.wec-container
{
    display: flex;
    flex-direction: row;
}

.wec-container img
{
    width: 120%;
    height: 120%;
}

.wec
{
   padding: 170px;
}

.you-container
{
    display: flex;
    flex-direction: row;
}

.you-container img
{
    width: 120%;
    height: 120%;
}

.you
{
    padding: 200px;
}


