/* premiere partie du main */
.tik-container
{
    display: flex;
    flex-direction: row;
}

.tik-container img
{
width: 140%;
height: 100%;
margin: 10%;
}

.tik
{
    margin: auto;
    padding: 300px;
}

.tik-container h1
{
    font-size: 200%;
}

.image img
{
width: 20%;
height: 20%;
padding: 10px;
}




