/* header */

body
{
    margin: 0%;
    background-color: #24F4EE;
}

.nav-container
{
display: flex;
flex-direction: row;
background-color: black;
opacity: 0.9;

}

.nav-container img
{
width: 10%;
height: 20%;
}

header
{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a
{
    color: #1c9cd8;
    padding: 30px;
    text-decoration: none;

}

a:hover
{
    color: brown;
}

.noir
{
    padding: 27px;
    margin-bottom: 100px;
}

/* footer */

.footer
{
    text-align: center;

}

/* premiere partie du main */
.tik-container
{
    display: flex;
    flex-direction: row;
}

.tik-container img
{
max-width: 140%;

margin: 10%;
}

.tik
{
    margin: auto;
    padding: 300px;
}

.tik-container h1
{
    font-size: 200%;
}

.image img
{
width: 20%;
height: 20%;
}

.image
{
    text-align: center;
    padding: 5%;
}

.align
{
    text-align: center;
    padding: 5%;
}

.align img
{
    width: 6%;
    height: 6%; 
}

/* Texte et couleur */

p
{
    text-align: center;
}

.tik h1
{
    color: #FE2C55;
}

.bouton1
{
    
    border-radius: 30px;
    color: white;
    font-size: 30px;
}

.bouton2
{
    border: 4px solid #FE2C55;
    border-radius: 30px;
    color: white;
    font-size: 30px;
}

/* images  */

.ap-container img
{

width: 100%;
height: 100%;
}

.ap-container
{
   display: flex;
   flex-direction: row;
}