/* header */

body
{
    margin: 0%;
    background-color: #00E16D;
}

.nav-container
{
display: flex;
flex-direction: row;
background-color: rgb(21, 175, 7);
font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 

opacity: 0.9;

}

.nav-container img
{
width: 5%;
height: 5%;
}

header
{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a
{
    color: white;
    padding: 30px;
    text-decoration: none;

}

a:hover
{
    color: yellow;
}

.noir
{
    padding: 27px;
    margin-bottom: 100px;
}

/* footer */

.footer
{
    text-align: center;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    padding: 20px;
}


/* main main main couleur font size position*/

.we-container img
{
    max-width: 100%;

}

.we-container
{
    display: flex;
    flex-direction: row;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    color: white;
}



.we{
    margin: auto;
    padding: 5%;
    
}

.we2
{
    margin: auto;
    padding: 10%;
}

.chacha-container img
{
    width: 20%;
    height: 20%;
    border-radius: 20px;
}


.chacha-container
{
    text-align: center;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 

    
}

.align1 img
{
    width: 6%;
    height: 6%; 
}

.align1
{
    text-align: center;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 

}

.fin
{
    text-align: center;
    padding: 5%;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif; 
    background-color: rgb(21, 175, 7);

}

.wecha-container img
{
    width: 100%;
    height: 100%;
}

.wecha-container
{
 display: flex;
 flex-direction: row;
}

.gaa-container
{
    display: flex;
    flex-direction: row;
}

.gaa-container img
{
    width: 100%;
    height: 100%;
}

.goo-container
{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.goo-container img
{
    width: 100%;
    height: 100%;
}

.goo-container p
{
    padding: 25%;
}
.goo-container a
{
 padding: 15px;
}

.boutola

{
    padding: 0.1px;
    border-radius: 5px;
}

.fintext
{
background-color: rgb(21, 175, 7);
}

.bouton3
{
color: yellow;
font-size: 30px;
border: 1px solid yellow;
padding: 10px;
border-radius: 10px;
}