/* header */

body
{
    margin: 0%;
    background-color: #FE0200;
}

.nav-container
{
display: flex;
flex-direction: row;
background-color: black;
opacity: 0.9;

}

.nav-container img
{
width: 5%;
height: 5%;
}

header
{

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-container a
{
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: 'Bangers', cursive;


}

a:hover
{
    color: brown;
}


/* footer */

.footer
{
    text-align: center;
    color: white;
    padding: 30px;
    text-decoration: none;
    background-color: black;
    font-family: 'Bangers', cursive;


}

.footer a
{
    color: red;
    text-decoration: none;

}


/* main main */
.you-container
{
    display: flex;
    flex-direction: row;
}

.you-container img
{
    max-width: 90%;
}

.you-container a
{
border: 1px solid yellow;
padding: 10px;
border-radius: 10px;
text-decoration: none;
color: white;
}

.you
{
    margin: auto;
    padding: 10%;
    font-family: 'Bangers', cursive;
    font-size: 45px;
    text-shadow: 7px 1px 7px yellow;

    
}

.youtu img
{
    width: 100%;
    height: 100%;
}

.youta-container img
{
    width: 20%;
    height: 20%;
    border-radius: 10px;
}

.youta-container
{
    text-align: center;
    font-family: 'Bangers', cursive;
     font-size: 50px;
     text-shadow: 7px 1px 7px yellow;

}

.rara-container img
{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.rara-container 
{
    display: flex;
    flex-direction: row;
    text-align: center;
    

}
.rara-container p
{
    font-family: 'Carter One', cursive;
    text-shadow: 2px 1px 7px yellow;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: 2px 1px 12px yellow;
}

 .telecharger-container
 {
    position: absolute;
    margin : 35%;
 }

 




